<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Login</display-name>
   <servlet>  
     <!-- 类名 -->  
    <servlet-name>loginDemo</servlet-name>  
    <!-- 所在的包 -->  
    <servlet-class>loginDemo.LoginServlet</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>loginDemo</servlet-name>  
    <!-- 访问的网址 -->  
    <url-pattern>/loginDemo</url-pattern>  
    </servlet-mapping> 
</web-app>